 <section class="constructor">
        <div class="constructor__guide">
          <p>
            The revolution years ahead is incredible close, please write your 5
            year goal description
          </p>
        </div>

        <div class="input__box">

          <form action="#" method="post" class="input__field">
            <input type="text" name="textarea" class="input" placeholder="Your thoughts..."/>
            <button class="btn">→</button>
          </form>
        </div>
      </section>