<section class="viewer">
    <div class="quote_label">
      <p id="quote"></p>
    </div>
  </section>
      <!-- <strong class="viewer__label">1 Year Goal Statement - </strong> -->
      <span class="viewer__goal">
        Become a master on algorithms and patterns so i see myself
        recognizing them and using them in an extremely useful way, making
        the difference in performance and sofistication
      </span>
    </h3> 
  </section>
 <!-- 
      <h3 class="heading_tertiary viewer__goal">
      <strong class="viewer__label">5 Year Goal Statement - </strong>
      <span class="viewer__goal"
        >Become a master of manifesting, being able to domiate the art of
        alchemy 🗝️</span
      >
    </h3>
  -->